USE [master]
GO
/****** Object:  Database [Caso2]    Script Date: 27/3/2025 15:54:57 ******/
CREATE DATABASE [Caso2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Caso2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Caso2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Caso2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Caso2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Caso2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Caso2]
GO
/****** Object:  Table [dbo].[Socai_Users]    Script Date: 27/3/2025 15:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socai_Users](
	[UserId] [varchar](70) NULL
) ON [PRIMARY]
GO
USE [master]
GO
